
@font-face {
  font-family: 'BeaufortforLOL';
  src: url('fonts/BeaufortforLOL-Medium.ttf') format('truetype');

}

@font-face {
  font-family: 'SpiegelSans';
  src: url('./fonts/SpiegelSans-5Regular_TRIAL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root{
  --font-titulo:'BeaufortforLOL', sans-serif ;
  --font-textos: 'SpiegelSans', sans-serif;
  --color-fondo: #091428;
  --color-titulosdorados: #C8AA6E; 
  --color-textos:#f0f8ff;
  --color-footer: #0A323C;
  --color-hover:#0AC8B9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-titulo);
  background: linear-gradient(to right, #CDFAFA, #1E282D);
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .main {
    display: flex;
    flex: 1;
  }

 .trivia{
  display: flex;
  font-family: var(--font-textos);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  background-color: var(--color-fondo);
      width: 50%; 
}

.trivia h1{
  font-family: var(--font-titulo);
  color: var(--color-textos);
  padding: 20px 0;
}

.trivia h2{
  font-size: 16px;
  color: var(--color-textos);
  padding-top: 20px;
}

.logo{
  width: 50%;
  margin: auto;
  padding-bottom:100px ;
}

.decoracion{
  width: 60%;
  padding-top: 20px;
}

.container{
  background-image: url('./imagenes/fondo azul.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  width: 50%; 
  padding: 50px;
  }

section{
  background-color: var(--color-fondo);
  border-radius: 8px;
  color: var(--color-textos);
  padding: 60px 30px;
  display:flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}

input[type="radio"] {
  margin-right: 20px; /* Añade espacio entre el radio y el texto */
}

label{
  display: block;
  padding: 7px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid var(--color-titulosdorados);
  margin-bottom: 3px;
}



label:hover {
  background: linear-gradient(to right, #463714, #785A28);

}

/* conservara el estilo de color al dar click en un input*/
label:has(input:checked) {
  background: linear-gradient(to right, #463714, #785A28);
}



.btnsiguiente{
  position: absolute;
  width: auto;
  border-radius: 4px;
  color: var(--color-textos);
  background: linear-gradient(to right, #005A82, #0AC8B9);
  font-family: var(--font-textos);
  font-size: 20px;
  padding: 20px 70px;
  display: flex;
  justify-content: center;
  right: 50px;
}


footer {
  background-color: #0A323C; 
  font-family: 'BeaufortforLOL', sans-serif;
  color: #C8AA6E; 
  text-align: center; 
  padding: 20px 0; 
  font-size: 20px;

}



.mi-titulo{
  color: var(--color-fondo);
}
.mi-boton{
  background-color: var(--color-footer);
  font-family: var(--font-textos);
}


@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh; /* Ocupa el alto completo de la pantalla */
    background: linear-gradient(to right, #CDFAFA, #1E282D);
    justify-content:flex-end;
  }

  .trivia {
    width: 80%; /* Aumenta el ancho de la trivia en pantallas pequeñas */
    padding: 20px;
    margin: 0 auto;
    flex-shrink: 0; /* Evita que el contenedor se reduzca */
  }

  .logo {
    width: 50%; /* Ajusta el tamaño de la imagen */
    padding-bottom: 50px;
    margin: 0 auto;
  }

  .container {
    width: 90%; /* Aumenta el ancho del contenedor */
    padding: 30px;
    margin: 0 auto;
    flex-grow: 1; /* Hace que el contenedor ocupe todo el espacio disponible */
  }

  section {
    padding: 40px 20px;
    margin-bottom: 20px;
  }

  .btnsiguiente {
    padding: 10px 40px;
    font-size: 18px;
    max-width: 80%;
    margin: 10px auto; /* Centra el botón */
    position: relative; /* Asegura que el botón esté en su lugar sin sobreponerse */
    z-index: 10;
    align-self: center; /* Centra el botón dentro del contenedor */
  }

  footer {
    font-size: 16px;
    padding: 20px 10px;
    position: relative;
    z-index: 1;
    margin-top: auto; /* Empuja el footer hacia abajo */
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
    text-align: center;
  }
}


@media (max-width: 480px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #CDFAFA, #1E282D);
    justify-content:flex-end;
  }

  .trivia {
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    padding: 10px;
    margin: 0 auto;
    flex-shrink: 0;
  }

  .logo {
    width: 70%; /* Ajusta el tamaño de la imagen */
    padding-bottom: 30px;
    margin: 0 auto;
  }

  .container {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    flex-grow: 1;
    justify-content: center;
  }

  section {
    padding: 30px 15px;
    margin-bottom: 15px;
  }

  .btnsiguiente {
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    right: 0;
    max-width: 300px;
    margin: 10px auto;
    position: relative;
    z-index: 10;
    align-self: center;
  }

  footer {
    font-size: 14px;
    padding: 15px 10px;
    position: relative;
    z-index: 1;
    margin-top: auto; /* Empuja el footer hacia abajo */
    width: 100%;
    text-align: center;
  }
}
